.tab {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .tab .tab-x {
    background-color: #ffffff;
    height: 2185px;
    overflow: hidden;
    position: relative;
    width: 1904px;
  }
  
  .tab .overlap {
    height: 291px;
    left: 0;
    position: absolute;
    top: 1894px;
    width: 1916px;
  }
  
  .tab .footer {
    background-color: transparent;
    height: 291px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1916px;
  }
  
  .tab .overlap-group {
    background-color: #e0e0e0;
    height: 291px;
    position: relative;
    width: 1904px;
  }
  
  .tab .text-wrapper-2 {
    color: #555555;
    font-family: "Noto Sans JP-Bold", Helvetica;
    font-size: 14px;
    font-weight: 700;
    height: 32px;
    left: 864px;
    letter-spacing: 1.33px;
    line-height: 16.8px;
    position: absolute;
    top: 76px;
    width: 60px;
  }
  
  .tab .text-wrapper-3 {
    color: #555555;
    font-family: "Noto Sans JP-Bold", Helvetica;
    font-size: 14px;
    font-weight: 700;
    height: 32px;
    left: 961px;
    letter-spacing: 1.33px;
    line-height: 16.8px;
    position: absolute;
    top: 76px;
    width: 60px;
  }
  
  .tab .text-wrapper-4 {
    color: #555555;
    font-family: "Noto Sans JP-Bold", Helvetica;
    font-size: 14px;
    font-weight: 700;
    height: 32px;
    left: 1058px;
    letter-spacing: 1.33px;
    line-height: 16.8px;
    position: absolute;
    top: 76px;
    width: 60px;
  }
  
  .tab .text-wrapper-5 {
    color: #555555;
    font-family: "Noto Sans JP-Bold", Helvetica;
    font-size: 14px;
    font-weight: 700;
    height: 32px;
    left: 1155px;
    letter-spacing: 1.33px;
    line-height: 16.8px;
    position: absolute;
    top: 76px;
    width: 60px;
  }
  
  .tab .contact-team-hola {
    color: #555555;
    font-family: "Noto Sans JP-Regular", Helvetica;
    font-size: 10px;
    font-weight: 400;
    height: 68px;
    left: 140px;
    letter-spacing: 0.95px;
    line-height: 12px;
    position: absolute;
    top: 145px;
    width: 259px;
  }
  
  .tab .text-wrapper-6 {
    -webkit-text-stroke: 1px #000000de;
    color: #000000de;
    font-family: "Arimo-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    height: 35px;
    left: 371px;
    letter-spacing: 2.28px;
    line-height: 28.8px;
    position: absolute;
    top: 73px;
    width: 103px;
  }
  
  .tab .to-top-btn {
    align-items: center;
    background-color: #ffffff;
    border: 2px solid;
    border-color: #fff400;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    height: 61px;
    justify-content: center;
    left: 1596px;
    position: absolute;
    top: 15px;
    width: 61px;
  }
  
  .tab .icon-instance {
    align-items: center !important;
    justify-content: center !important;
    left: 14px !important;
    position: absolute !important;
    top: 14px !important;
  }
  
  .tab .expand-less-filled {
    height: 35px !important;
    position: relative !important;
    width: 35px !important;
  }
  
  .tab .min-width {
    height: 40px;
    position: relative;
    transform: rotate(-90deg);
    width: 40px;
  }
  
  .tab .select-input-content {
    height: 714px;
    left: 197px;
    position: absolute;
    top: 460px;
    width: 1510px;
  }
  
  .tab .overlap-2 {
    height: 714px;
    position: relative;
  }
  
  .tab .head-title-underline {
    height: 714px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1510px;
  }
  
  .tab .divider-horizontal-instance {
    height: 714px !important;
    width: 1510px !important;
  }
  
  .tab .section-input {
    height: 653px;
    left: 6px;
    position: absolute;
    top: 16px;
    width: 1460px;
  }
  
  .tab .select-input {
    height: 163px;
    left: 0;
    position: absolute;
    top: 378px;
    width: 1464px;
  }
  
  .tab .input {
    align-items: flex-start;
    border: 1px solid;
    border-color: var(--palette-components-input-outlined-hoverborder);
    border-radius: var(--shape-borderradius-duplicate);
    display: flex;
    flex-direction: column;
    height: 50px;
    left: 0;
    padding: 0px 12px;
    position: absolute;
    top: 46px;
    width: 687.06px;
  }
  
  .tab .container {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    margin-bottom: -5.89px;
    padding: 16px 0px;
    position: relative;
    width: 100%;
  }
  
  .tab .min-height-2 {
    height: 24px;
    position: relative;
    width: 1px;
  }
  
  .tab .text-wrapper-7 {
    color: var(--palette-text-secondary-duplicate);
    flex: 1;
    font-family: var(--input-value-font-family);
    font-size: var(--input-value-font-size);
    font-style: var(--input-value-font-style);
    font-weight: var(--input-value-font-weight);
    letter-spacing: var(--input-value-letter-spacing);
    line-height: var(--input-value-line-height);
    margin-top: -1px;
    position: relative;
  }
  
  .tab .min-width-2 {
    height: 1px;
    position: relative;
    width: 24px;
  }
  
  .tab .arrow-drop-down {
    height: 24px !important;
    left: 639px !important;
    position: absolute !important;
    top: 16px !important;
    width: 24px !important;
  }
  
  .tab .container-wrapper {
    align-items: flex-start;
    border: 1px solid;
    border-color: var(--palette-components-input-outlined-hoverborder);
    border-radius: var(--shape-borderradius-duplicate);
    display: flex;
    flex-direction: column;
    height: 50px;
    left: 773px;
    padding: 0px 12px;
    position: absolute;
    top: 46px;
    width: 687.06px;
  }
  
  .tab .text-wrapper-8 {
    color: #000000;
    font-family: var(--input-value-font-family);
    font-size: var(--input-value-font-size);
    font-style: var(--input-value-font-style);
    font-weight: var(--input-value-font-weight);
    height: 32px;
    left: 0;
    letter-spacing: var(--input-value-letter-spacing);
    line-height: var(--input-value-line-height);
    position: absolute;
    top: 0;
    width: 499px;
  }
  
  .tab .text-wrapper-9 {
    color: #000000;
    font-family: var(--input-value-font-family);
    font-size: var(--input-value-font-size);
    font-style: var(--input-value-font-style);
    font-weight: var(--input-value-font-weight);
    height: 32px;
    left: 773px;
    letter-spacing: var(--input-value-letter-spacing);
    line-height: var(--input-value-line-height);
    position: absolute;
    top: 4px;
    width: 499px;
  }
  
  .tab .text-field {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    left: 773px;
    position: absolute;
    top: 107px;
    width: 687px;
  }
  
  .tab .content-wrapper {
    align-items: flex-start;
    align-self: stretch;
    border: 1px solid;
    border-color: var(--palette-components-input-outlined-enabledborder);
    border-radius: var(--shape-borderradius-duplicate);
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    padding: 0px 12px;
    position: relative;
    width: 100%;
  }
  
  .tab .div-wrapper {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    min-height: 24px;
    min-width: 24px;
    padding: 16px 0px;
    position: relative;
    width: 100%;
  }
  
  .tab .text-wrapper-10 {
    color: #000000de;
    flex: 1;
    font-family: var(--input-value-font-family);
    font-size: var(--input-value-font-size);
    font-style: var(--input-value-font-style);
    font-weight: var(--input-value-font-weight);
    letter-spacing: var(--input-value-letter-spacing);
    line-height: var(--input-value-line-height);
    margin-top: -1px;
    position: relative;
  }
  
  .tab .label-container {
    align-items: center;
    background-color: var(--palette-background-paper-elevation-0-duplicate);
    display: inline-flex;
    gap: 10px;
    height: 2px;
    left: 12px;
    padding: 0px 4px;
    position: absolute;
    top: 0;
  }
  
  .tab .label {
    color: var(--palette-text-secondary-duplicate);
    font-family: var(--input-label-font-family);
    font-size: var(--input-label-font-size);
    font-style: var(--input-label-font-style);
    font-weight: var(--input-label-font-weight);
    letter-spacing: var(--input-label-letter-spacing);
    line-height: var(--input-label-line-height);
    margin-bottom: -10px;
    margin-right: -1px;
    margin-top: -12px;
    position: relative;
    width: fit-content;
  }
  
  .tab .select-input-2 {
    height: 95px;
    left: 0;
    position: absolute;
    top: 252px;
    width: 1464px;
  }
  
  .tab .container-2 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    margin-bottom: -6.19px;
    padding: 16px 0px;
    position: relative;
    width: 100%;
  }
  
  .tab .text-wrapper-11 {
    color: #000000;
    font-family: var(--input-value-font-family);
    font-size: var(--input-value-font-size);
    font-style: var(--input-value-font-style);
    font-weight: var(--input-value-font-weight);
    height: 32px;
    left: 0;
    letter-spacing: var(--input-value-letter-spacing);
    line-height: var(--input-value-line-height);
    position: absolute;
    top: 0;
    width: 573px;
  }
  
  .tab .text-wrapper-12 {
    color: #000000;
    font-family: var(--input-value-font-family);
    font-size: var(--input-value-font-size);
    font-style: var(--input-value-font-style);
    font-weight: var(--input-value-font-weight);
    height: 32px;
    left: 779px;
    letter-spacing: var(--input-value-letter-spacing);
    line-height: var(--input-value-line-height);
    position: absolute;
    top: 6px;
    width: 573px;
  }
  
  .tab .overlap-group-2 {
    height: 51px;
    left: 773px;
    position: absolute;
    top: 43px;
    width: 687px;
  }
  
  .tab .text-field-2 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 51px;
    left: 0;
    position: absolute;
    top: 0;
    width: 687px;
  }
  
  .tab .input-2 {
    align-items: flex-start;
    align-self: stretch;
    border: 1px solid;
    border-color: var(--palette-components-input-outlined-enabledborder);
    border-radius: var(--shape-borderradius-duplicate);
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    margin-bottom: -5.26px;
    padding: 0px 12px;
    position: relative;
    width: 100%;
  }
  
  .tab .img {
    height: 18px;
    left: 641px;
    position: absolute;
    top: 15px;
    width: 23px;
  }
  
  .tab .select-input-3 {
    height: 96px;
    left: 0;
    position: absolute;
    top: 126px;
    width: 1464px;
  }
  
  .tab .select-input-4 {
    height: 96px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1464px;
  }
  
  .tab .text-wrapper-13 {
    color: #000000;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 32px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 499px;
  }
  
  .tab .register-button {
    align-items: center;
    background-color: var(--quest-design-kit-variables-dark-mode-error-contrast);
    border-radius: var(--shape-borderradius-duplicate);
    box-shadow: var(--elevation-2);
    display: flex;
    flex-direction: column;
    height: 36px;
    justify-content: center;
    left: 1296px;
    overflow: hidden;
    padding: 6px 16px;
    position: absolute;
    top: 617px;
    width: 112px;
  }
  
  .tab .base {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 8px;
    justify-content: center;
    position: relative;
  }
  
  .tab .button-6 {
    all: unset;
    box-sizing: border-box;
    color: var(--palette-primary-contrast-duplicate);
    font-family: var(--button-medium-font-family);
    font-size: var(--button-medium-font-size);
    font-style: var(--button-medium-font-style);
    font-weight: var(--button-medium-font-weight);
    letter-spacing: var(--button-medium-letter-spacing);
    line-height: var(--button-medium-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .tab .head {
    height: 42px;
    left: 197px;
    position: absolute;
    top: 396px;
    width: 1512px;
  }
  
  .tab .head-title-icon {
    align-items: center;
    background-color: #ffcd00;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    height: 42px;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 47px;
  }
  
  .tab .element {
    height: 22px;
    left: 15px;
    position: absolute;
    top: 14px;
    width: 13px;
  }
  
  .tab .min-width-3 {
    height: 32px;
    position: relative;
    transform: rotate(-90deg);
    width: 32px;
  }
  
  .tab .head-title-text {
    color: var(--palette-text-primary-duplicate);
    font-family: var(--typography-h6-font-family);
    font-size: var(--typography-h6-font-size);
    font-style: var(--typography-h6-font-style);
    font-weight: var(--typography-h6-font-weight);
    height: 42px;
    left: 59px;
    letter-spacing: var(--typography-h6-letter-spacing);
    line-height: var(--typography-h6-line-height);
    position: absolute;
    top: 0;
    width: 1451px;
  }
  
  .tab .box {
    align-items: center;
    background-color: var(--palette-background-default-duplicate);
    border-radius: var(--shape-borderradius-duplicate);
    display: flex;
    gap: 16px;
    height: 157px;
    justify-content: center;
    left: 197px;
    overflow: hidden;
    padding: 64px;
    position: absolute;
    top: 164px;
    width: 1510px;
  }
  
  .tab .go-to-main-component {
    align-items: center;
    display: inline-flex;
    gap: 8px;
    left: 16px;
    position: absolute;
    top: 16px;
  }
  
  .tab .union {
    height: 12px;
    position: relative;
    width: 12px;
  }
  
  .tab .text-wrapper-14 {
    color: #9747ff;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.17px;
    line-height: 20px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .tab .stepper-instance {
    flex: 1 !important;
    flex-grow: 1 !important;
    width: unset !important;
  }
  
  .tab .stepper-2 {
    background-color: var(--quest-design-kit-variables-dark-mode-text-disabled) !important;
    flex: 0 0 auto !important;
  }
  
  .tab .header-instance {
    left: 0 !important;
    position: fixed !important;
    top: 0 !important;
  }
  